html,body{
  margin:0 auto;
  font-family:monospace;
}
.container{
  display:flex;
  padding:10px;
}
.center{
  justify-content:center;
  align-items:center;
}

.output{
    font-size: 15px;
}

/* Navagation bar: */
nav{
  background-color:rgb(49, 49, 105);
}
nav a{
  color:rgb(255, 255, 255);
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
  font-size: 20px;
  
}
nav a:hover{
  color:white;
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* Page 1 */
#banner{
  background-color:rgb(77, 77, 105);
  color:rgb(61, 103, 143);
}
#footer{
  background-color:cornflowerblue;
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
/* Page 2: */

/* Page 3: */

/* Page 4: */
